html {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Calibri";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

input {
  margin: 10px;
}

button {
  margin: 5px;
  padding: 3px;
  width: 25%;
}
