.none {
    display: none;
}

.success {
    color: white;
    background: cadetblue;
    font-size: 20px;
    border: 2px solid white;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.error {
    color: white;
    background: salmon;
    font-size: 20px;
    border: 2px solid white;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}